.gameboard {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    text-align: center;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: gainsboro;
}

.gameboard .box {
    float: left;
    width: 100px;
    height: 100px;
    border: 2px solid;
    transition: all .25s ease-in-out;
    font-size: 85px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}

.playerturn p {
    font-size: 30px;
    text-align: center;
}

.result {
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
}

.win {
    /*background: #48ceff;*/
    color: lightseagreen;
}

.lose {
    /*background: #48ceff;*/
    color: lightcoral;
}

.replay {
    justify-content: center;
    text-align: center;
}

.replay button {
    margin-top: 15px;
    font-size: 20px;
}